<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <h3>{{product.name}}</h3>
    <p>{{product.description}}</p>
    <b>{{product.price}}</b>
    
    <form action="{% url 'add_to_cart' product.id %}" method="post" class="mt-4">
    {% csrf_token %}
    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
        Add to Cart
    </button>
</form>

</body>
</html>